
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Italianno&family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mountains+of+Christmas:wght@400;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sacramento&display=swap');

body {
    background-color: /*#2e3138;#73ba9b*/  #d90429;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Bienvenue */
.salutation > h1 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
    font-weight: 400px;
    font-size:50px;
    color: #f8f9fa;
    margin-bottom: 10px;
    text-align: center;
}

/* Envelope */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    border-style: solid;
    box-sizing: border-box;
    border-width: 80px 100px 70px 100px;
    border-color: #3760C9 #96DDFC #96DDFC #36BBF7;
    animation: envFloating 1s ease-in infinite alternate;
    position: relative;
    width: 150px; /* Ajouté pour une meilleure structure */
    height: 100px;
}

.loader:after {
    content: "";
    position: absolute;
    right: 62px;
    top: -40px;
    height: 70px;
    width: 50px;
    background-image:
        linear-gradient(#fff 45px, transparent 0),
        linear-gradient(#fff 45px, transparent 0),
        linear-gradient(#fff 45px, transparent 0);
    background-repeat: no-repeat;
    background-size: 30px 4px;
    background-position: 0px 11px, 8px 35px, 0px 60px;
    animation: envDropping 0.75s linear infinite;
}

@keyframes envFloating {
    0% { transform: translate(-2px, -5px); }
    100% { transform: translate(0, 5px); }
}

@keyframes envDropping {
    0% {
        background-position: 100px 11px, 115px 35px, 105px 60px;
        opacity: 1;
    }
    50% {
        background-position: 0px 11px, 20px 35px, 5px 60px;
    }
    60% {
        background-position: -30px 11px, 0px 35px, -10px 60px;
    }
    75%, 100% {
        background-position: -30px 11px, -30px 35px, -30px 60px;
        opacity: 0;
    }
}

/* User input */
#user-input {
    display: flex;
    align-items: center; /* Aligne verticalement les éléments au centre */
    gap: 10px; /* Espacement entre les éléments */
}

#user-name {
    flex-grow: 1; /* Prend toute la largeur disponible */
    padding: 8px;
    font-size: 16px;
    border-radius: 25px;
    width: 125px;
    height: 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%; /* S'assure que l'input prend toute la largeur disponible */
    padding: 8px;
    text-align: center; /* Centre horizontalement le texte */
    line-height: 20px; /* Ajuste la hauteur de ligne*/
}
#user-name::placeholder {
    text-align: center; /* Centre le texte du placeholder horizontalement */
}

button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: none;
    background-color: #0BCE83;
    color: white;
    cursor: pointer;
}

button .svg-wrapper-1 {
    margin-right: 8px; /* Espacement entre l'icône et le texte */
}

button svg {
    fill: white;
}
/* From Uiverse.io by eirikvold */ 
button {
    margin: 10px;
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }
  
  button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  
  button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  button:hover svg {
    transform: rotate(45deg);
  }
  
  

/* ############################ Loader CUbes */
/* From Uiverse.io by Nawsome */  /*+++++++++++++ page2 */
 

.cube-loader-container {
  display: none; /* Masqué au départ */
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}


.cube-loader {
  position: relative;
  /* u can choose any size */
  width: 75px;
  height: 75px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-loader .cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
        left: 0; */
  transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
        left: 0; */
  /* width 75px / 2 = 37.5px */
  transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
  background: linear-gradient(
    to bottom,
    hsl(182, 100%, 73%) 0%,
    hsl(177, 100%, 71%) 2%,
    hsl(176.89, 99.07%, 58.04%) 5.5%,
    hsl(177.27, 21.71%, 32.06%) 80%,
    hsl(60, 88%, 75%) 85%,
    hsl(60, 36%, 55%) 100%
  );
}

.cube-top {
  position: absolute;
  width: 75px;
  height: 75px;
  background: hsl(182, 100%, 73%);
  /* width 75px / 2 = 37.5px */
  transform: rotateX(90deg) translateZ(37.5px);
  transform-style: preserve-3d;
}
rect {
  fill: white;
}

.cube-top::before {
  content: "";
  position: absolute;
  /* u can choose any size */
  width: 75px;
  height: 75px;
  background: hsl(177, 43%, 39%) 19.6%;
  transform: translateZ(-90px);
  filter: blur(20px);
}

.cube-loader-container {
  filter: drop-shadow(0px 0px 0.03rem rgb(0, 0, 0))
    drop-shadow(0px 0px 0.02rem rgb(0, 0, 0));
}



 /* #####################   ##############    ############# CSS PAGE 2  */

 .container-page2 .text {
  display: flex;
  margin-left: 500px;
  justify-content: center;
  font-size: 80px;
  font-family: "Dancing Script", cursive;
  display: inline-block;  /* Utiliser inline-block pour appliquer une bordure au texte directement */
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  
  
}


.container-page2 .Text-malagasy{
  color:white;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 50px;
  font-size: 35px;
  font-family: 'Poppins', cursive;
  font-size: 1.3em;
  font-weight: 400;
  font-style: normal;
}









/* From Uiverse.io by ilkhoeri */ 
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.inner {
  --w: 100px;
  --h: 150px;
  --translateZ: calc((var(--w) + var(--h)) + 0px);
  --rotateX: -15deg;
  --perspective: 1000px;
  position: absolute;
  width: var(--w);
  height: var(--h);
  top: 25%;
  left: calc(50% - (var(--w) / 2) - 2.5px);
  z-index: 2;
  transform-style: preserve-3d;
  transform: perspective(var(--perspective));
  animation: rotating 20s linear infinite; /* */
}
@keyframes rotating {
  from {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX))
      rotateY(0);
  }
  to {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX))
      rotateY(1turn);
  }
}

.card {
  position: absolute;
  border: 2px solid rgba(var(--color-card));
  border-radius: 12px;
  overflow: hidden;
  inset: 0;
  transform: rotateY(calc((360deg / var(--quantity)) * var(--index)))
    translateZ(var(--translateZ));
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #0000
    radial-gradient(
      circle,
      rgba(var(--color-card), 0.2) 0%,
      rgba(var(--color-card), 0.6) 80%,
      rgba(var(--color-card), 0.9) 100%
    );
}



/*++++++++++++++++++++++++++++++++++++++++Arbre de Noel */

  
  .christmas {
    position: absolute;
    margin: 250px 0 200px 165px;

  }
  .Joyeux-noel{
    position: relative;
    margin-left: 400px;
    color: white;
  }
  
  .tree {
    position: relative;
    background-color: #685044;
    width: 30px;
    height:80px;
    top:100px;
    transform-style: preserve-3d;
  }
  
  .tree:before {
    content:"";
    position: relative;
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 270px solid #127475;
    border-radius: 30px;
    top:-250px;
    left:-75px;
  }
  
  .tree:after {
    content:"";
    position: relative;
    width: 0;
    height: 0;
    border-right: 90px solid transparent;
    border-bottom: 270px solid #0e9594;
    border-bottom-right-radius: 30px;
    top:-250px;
    left:-165px;
  }
  
  .chain {
    width: 85px;
    height: 85px;
    border: solid 3px #333;
    border-radius: 50%;
    top: -185px; 
    left: -35px; 
    position: absolute;
    transform: rotate3d(8, 0.1, -5, 75deg); 
    box-sizing: border-box;
    backface-visibility: visible !important;
    z-index:5;
  }
  
  .chain2 {
    width: 145px;
    height: 135px;
    border: solid 3px #333;
    border-radius: 50%;
    top: -115px; 
    left: -65px; 
    position: absolute;
    transform: rotate3d(8, 0.1, -5, 75deg); 
    box-sizing: border-box;
    backface-visibility: visible !important;
    z-index:5;
    
  }
  
  .shadow {
    background-color: rgba(0,0,0,0.07);
    position: absolute;
    width: 250px;
    height: 30px;
    border-radius:50%;
    top:170px;
    left:-115px;
    z-index:-1;
  }
  
  .star {
    margin: 50px 0;
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-bottom: 17.5px solid #f9dc5c;
    border-left: 25px solid transparent;
    transform: rotate(35deg);
    top:-190px;
    left:-9px;
      }
  
  .star:before {
        border-bottom: 20px solid #f9dc5c;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;
        position: absolute;
        height: 0;
        width: 0;
        top: -12.5px;
        left: -17.5px;
        display: block;
        content: '';
        transform: rotate(-35deg);
      }
  
  .star:after {
        position: absolute;
        display: block;
        top: 0.75px;
        left: -26.25px;
        width: 0px;
        height: 0px;
        border-right: 25px solid transparent;
        border-bottom: 17.5px solid #f9dc5c;
        border-left: 25px solid transparent;
        transform: rotate(-70deg);
        content: '';
      }
  
  .lights {
    position: absolute;
    
  }
  
  .light1 {
     position: absolute;
     width: 15px; 
     height: 15px;
     border-radius: 10px 150px 30px 150px;
  }
  
  .light1 {
    background-color: #ff595e;
    top:-100px;
    left:-35px;
    transform: rotate(40deg);
    box-shadow: 1px 1px 15px #faf3dd;
  }
  
  .light2 {
    position: absolute;
    background-color: #ffca3a;
    top:-95px;
    left:-10px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px; 
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light3 {
    position: absolute;
    background-color: #6a4c93;
    top:-105px;
    left:15px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px; 
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light4 {
    position: absolute;
    background-color: #1982c4;
    top:-118px;
    left:35px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px; 
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light5 {
    position: absolute;
    background-color: #1982c4;
    top:12px;
    left:-55px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px; 
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light6 {
    position: absolute;
    background-color: #8ac926;
    top:15px;
    left:-25px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px; 
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light7 {
    position: absolute;
    background-color: #ff595e;
    top:10px;
    left:2px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px; 
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light8 {
    position: absolute;
    background-color: #ffca3a;
    top:-2px;
    left:27px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px; 
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light9 {
    position: absolute;
    background-color: #9e0059;
    top:-17px;
    left:50px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px; 
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .light10 {
    position: absolute;
    background-color: #4361ee;
    top:-40px;
    left:68px;
    box-shadow: 1px 1px 15px #faf3dd;
    width: 15px; 
    height: 15px;
    border-radius: 10px 150px 30px 150px;
    transform: rotate(40deg);
  }
  
  .gift {
    position: absolute;
    width: 60px;
    height: 50px;
    background-color: #ffc857;
    top:130px;
    left:30px;
    box-shadow: inset -8px 0 0 rgba(0,0,0,0.07);
    
  }
  
  .gift:before {
    content:"";
    position: absolute;
    width:70px;
    height:15px;
    background-color: #ffc857;
    left:-5px;
    box-shadow: inset -8px -4px 0 rgba(0,0,0,0.07);
    
  }
  
  .gift:after {
    content:"";
    background-color: #db3a34;
    width: 10px;
    height:50px;
    position: absolute;
    left:25px;
  }
  
  .ribbon {
    position: absolute;
    width: 20px;
    height: 10px;
    border: 3px solid #db3a34;
    border-radius:50%;
    transform: skew(15deg, 15deg);
    top:116px;
    left:35px;
  }
  
  .ribbon:before {
    content:"";
    position: absolute;
    width: 20px;
    height: 10px;
    border: 3px solid #db3a34;
    border-radius:50%;
    transform: skew(-15deg, -20deg);
    left:22px;
    top:-8px;
  }
  
  .gift2 {
    position: absolute;
    width: 50px;
    height: 40px;
    background-color: #08bdbd;
    top:140px;
    left:-65px;
    box-shadow: inset -8px 0 0 rgba(0,0,0,0.07);
    
  }
  
  .gift2:before {
    content:"";
    position: absolute;
    width:60px;
    height:15px;
    background-color: #08bdbd;
    left:-5px;
    box-shadow: inset -8px -4px 0 rgba(0,0,0,0.07);
    
  }
  
  .gift2:after {
    content:"";
    background-color: #abff4f;
    width: 10px;
    height:40px;
    position: absolute;
    left:15px;
  }
  
  .gift3 {
    position: absolute;
    width: 40px;
    height: 30px;
    background-color: #7678ed;
    top:150px;
    left:-85px;
    box-shadow: inset -8px 0 0 rgba(0,0,0,0.07);
    
  }
  
  .gift3:before {
    content:"";
    position: absolute;
    width:50px;
    height:10px;
    background-color: #7678ed;
    left:-5px;
    box-shadow: inset -8px -4px 0 rgba(0,0,0,0.07);
    
  }
  
  .gift3:after {
    content:"";
    background-color: #f7b801;
    width: 7px;
    height:30px;
    position: absolute;
    left:15px;
  }
  
  .ribbon2 {
    position: absolute;
    width: 15px;
    height: 7px;
    border: 3px solid #abff4f;
    border-radius:50%;
    transform: skew(15deg, 15deg);
    top:129px;
    left:-65px;
  }
  
  .ribbon2:before {
    content:"";
    position: absolute;
    width: 15px;
    height: 7px;
    border: 3px solid #abff4f;
    border-radius:50%;
    transform: skew(-15deg, -20deg);
    left:15px;
    top:-8px;
  }
  
  .ribbon3 {
    position: absolute;
    width: 12px;
    height: 5px;
    border: 3px solid #f7b801;
    border-radius:50%;
    transform: skew(15deg, 15deg);
    top:142px;
    left:-85px;
  }
  
  .ribbon3:before {
    content:"";
    position: absolute;
    width: 12px;
    height: 5px;
    border: 3px solid #f7b801;
    border-radius:50%;
    transform: skew(-15deg, -20deg);
    left:15px;
    top:-8px;
  }
  
  .balls {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #db3a34;
    top:15px;
    left: -15px;
  }
  
  .balls:before {
    content:"";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffc857;
    top:35px;
    left: -15px;
  }
  
  .balls:after {
    content:"";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f07167;
    top:20px;
    left: 45px;
  }
  
  .ball1 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fae588;
    top:-90px;
    left:20px;
    
  }
  
  .ball1:before {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fae588;
    content:"";
    top:170px;
    left:50px
  }
  
  .light1, .light2, .light3, .light4, .light5, .light6, .light7, .light8, .light9, .light10 {
    -webkit-animation: flash 6s infinite;
  }
  
  @-webkit-keyframes flash {
    20%, 24%, 55% {box-shadow: none;}
   0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
   box-shadow: 0 0 5px #f5de93, 0 0 15px #f5de93, 0 0 20px #f5de93, 0 0 40px #f5de93, 0 0 60px #decea4, 0 0 10px #d6c0a5, 0 0 98px #ff0000;
    }
  }
  /*------######################## Texte en Allemand ############################################*/
  .text-allemand-container{
    margin-top: 200px;
    margin-left: 350px;
    margin-right: 100px;
    color: white;
    font-family: 'Pacifico', cursive; /* Utilisez une police festive */
    font-size: 1.5em;
    text-align: center;
  }
  /*+++++++++++++++++++++++++++++++++++++++++ Carte de voeux */
  .christmas-card {
    width:220px;
    height: 300px;
    position: absolute;
    margin-top: 200px;
    margin-left: 70%;
    margin-bottom: 50px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: .3s;
}
        input#open {
    display: none;
}
.card-front, .card-inside {
    width:100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.card-front {
    transform-origin: left;
    transition: .3s;
    box-shadow: inset 0 120px #c1121f,inset 0 150px #fff, inset 0 165px #f9dcc4,inset 0 200px #fff,inset 0 240px #c1121f, inset 0 290px #333, inset 0 300px #c1121f;
}
.card-front:before, .card-front:after {
    content:"";
    position: absolute;
}
.card-front:before {
    background-color: #333;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top:150px;
    left:95px;
    box-shadow: 20px 0 #333;
}
.card-front:after {
    background-color: #fcd5ce;
    width:20px;
    height: 10px;
    border-radius:50px;
    top: 160px;
    left: 100px;
}

.santa-claus {
    position: absolute;
    width: 60px;
    height: 30px;
    border: 10px solid #ffba08;
    top: 240px;
    left:70px;
}
.santa-claus:before, .santa-claus:after {
    content:"";
    position: absolute;
}
.santa-claus:after {
    background-color: #333;
    width: 20px;
    height: 10px;
    border-radius: 0 0 50px 50px;
    top:-75px;
    left:20px;
}
.santa-claus:before {
    background-color: white;
    border-radius: 50%;
    width:130px;
    height: 40px;
    top: -70px;
    left:-35px;
}
.front {
    position: absolute;
}

.front:before, .front:after {
    content:"";
    position: absolute;
    background-color: #003e1f;
    width: 350px;
    height: 350px;
    z-index:1;
}

.front:before {
    transform: rotate(-65deg);
    left:-268px;
    top:-90px;
}
.front:after {
    transform: rotate(65deg);
    left:138px;
    top:-90px;
}

.pompon {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 50px;
    left:100px;
    z-index:10;
}

.open {
position: absolute;
width:220px;
height: 300px;
left:0;
top:0;
background-color: transparent;
z-index:6;
cursor: pointer;
}

#open:checked ~ .card-front {
transform: rotateY(-155deg);
}

.card-inside {
background-color: #f2e8cf;
z-index:-1;
}

.card-inside:before {
content:"Joyeux Noël à tous, chers amis ! Que cette période festive soit remplie de rires, d’amour et de moments inoubliables. Que chaque instant passé en famille et entre amis vous apporte bonheur et sérénité, et que tous vos rêves se réalisent cette année. Joyeux Noël !";
position: absolute;
font-size: 15px;
text-align: center;
top:40px;
padding:15px;
line-height:150%;
}


  
/******************************************  chocolat box */

.chocolate-box {
    position: absolute;
    margin-top: 150px;
    margin-left: 450px;
    height: 300px;
    width: 300px;
    cursor: pointer;
  }
  
  .chocolate-box:before, .chocolate-box:after {
    content:"";
    position: absolute;
  }
  
  .chocolate-box:before {
    width: 160px;
    height: 160px;
    background-color: #4b301b;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: 10px 10px #392312;
  }
  
  .chocolate-box:after {
    width: 68px;
    height: 68px;
    background-color: #2b0900;
    top:81px;
    left: 80px;
    box-shadow: 70px 0 #2b0900, 70px 70px #2b0900, 0px 70px #2b0900;
  }
  
  .chocs {
    position: absolute;
    z-index:1;
  }
  
  .top-left {
    top:92px;
    left:90px;
  }
  
  .top-left:hover {
    transform: rotate(25deg);
  }
  
  .top-left:active {
    opacity:0;
  }
  
  .bottom-right {
    left:162px;
    top: 162px;
  }
  
  .bottom-right:hover {
    transform: rotate(25deg);
  }
  
  .bottom-right:active {
    opacity:0;
  }
  
  .top-left, .bottom-right {
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #d12511;
    box-shadow: 20px 0 #d12511;
    filter: drop-shadow(2px 2px #ab1503) drop-shadow(-2px 2px #ab1503);
    transition: .2s;
  }
  
  .top-left:after, .top-left:before, .bottom-right:before, .bottom-right:after {
    content:"";
    position: absolute;
  }
  
  .top-left:before, .bottom-right:before {
    width: 30px;
    height: 30px;
    background-color: #d12511;
    transform: rotate(-45deg);
    top:10px;
    left:10px;
  }
  
  .top-left:after, .bottom-right:after {
    border-radius: 50%;
    background-color: rgba(255,255,255,.3);
    width:10px;
    height: 10px;
    top:5px;
    left:35px;
  }
  
  .top-right {
    position: absolute;
    border-radius: 50%;
    background-color: #fee8c0;
    width:45px;
    height: 45px;
    top:92px;
    left: 162px;
    filter: drop-shadow(2px 2px #ceb587) drop-shadow(-2px 2px #ceb587);
    overflow: hidden;
    transition: .2s;
  }
  
  .top-right:before, .top-right:after {
    content:"";
    position: absolute;
    background-color: #93522b;
    width:100px;
    height: 3px;
    left:-5px;
  }
  
  .top-right:before {
    top:15px;
    transform: rotate(-35deg);
    box-shadow: 0 -15px #93522b;
  }
  
  .top-right:after {
    top:0;
    transform: rotate(-15deg);
    box-shadow: 0 17px #93522b, 0 30px #93522b;
  }
  
  .bottom-left:hover {
    transform: rotate(25deg);
  }
  
  .bottom-left:active {
    opacity:0;
  }
  
  .top-right:hover {
    transform: rotate(25deg);
  }
  
  .top-right:active {
    opacity:0;
  }
  
  .bottom-left {
    position: absolute;
    border-radius: 50%;
    background-color: #503520;
    width:45px;
    height: 45px;
    top:162px;
    left: 92px;
    filter: drop-shadow(2px 2px #342010) drop-shadow(-2px 2px #342010);
    overflow: hidden;
    transition: .2s;
  }
  
  .bottom-left:before, .bottom-left:after {
    content:"";
    position: absolute;
    background-color: #fde7c7;
    width:100px;
    height: 3px;
    left:-5px;
  }
  
  .bottom-left:before {
    top:15px;
    transform: rotate(-35deg);
    box-shadow: 0 -15px #fde7c7;
  }
  
  .bottom-left:after {
    top:0;
    transform: rotate(-15deg);
    box-shadow: 0 17px #fde7c7, 0 30px #fde7c7;
  }
  
  .box-bottom {
    position: absolute;
    background-color: #392312;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    left:222px;
    top:73px;
    z-index:-1;
    box-shadow: 0px 211px #392312;
  }
  
  .cover {
    position: absolute;
    background-color: #cf2611;
    width:150px;
    height: 150px;
    border: 5px solid #ae1605;
    z-index:2;
    top:70px;
    left:70px;
    transform-origin: top;
    transition: .2s;
    overflow: hidden;
  }
  
  .chocolate-box:hover .cover {
    transform: rotateX(170deg);
    box-shadow: 5px -5px 20px rgba(0,0,0,.5);
  }
  
  .chocolate-box:hover .cover:before {
    display: none;
  }
  
  .cover:before {
    position: absolute;
    content:"Hover Me";
    color: #ffead2;
    font-family: "Brush Script MT", cursive;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 35px;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
    text-align: center;
    border: 2px double;
  }
  
  .cover:after {
    position: absolute;
    content:"";
    background-color: #ffead2;
    height:10px;
    width: 100px;
    transform: rotate(-45deg);
    left:-20px;
    box-shadow: -5px 165px #ffead2;
  }
  
  #white, #milk, #truffle, #truffle2 {
    position: absolute;
    width: 100%;
    display: none;
    color: #ffead2;
    font-family: "Brush Script MT", cursive;
    font-size: 25px;
    transition: .1;
  }
  
  #white {
    top:100px;
    left: 250px;
  }
  
  #milk {
    top:170px;
    left:-70px;
  }
  
  #truffle {
    left: 250px;
    top: 170px;
  }
  
  #truffle2 {
    left: -70px;
    top: 100px;
  }

  
  /*------ La neige */

