
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Italianno&family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mountains+of+Christmas:wght@400;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sacramento&display=swap');

body.page1 {
  background: linear-gradient(
    to right, 
    #3e017d, /* Violet sombre */
    #8502fe, /* Violet intense */
    #a511db, /* Violet clair */
    #d8119f, /* Rose éclatant */
    #8c0c4a, /* Rouge sombre */
    #ff2164 /* Rouge vif */
  );
  background-size: 300% 300%; /* Étend le fond pour que l'animation ait plus de place pour se déplacer */
  margin: 0;
  font-family: Arial, sans-serif;
  animation: gradientAnimation 10s ease infinite;
}

/* Animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Bienvenue */
.salutation > h1 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
    font-size:70px;
    color: #f8f9fa;
    margin-bottom: 10px;
    text-align: center;
}

/* Envelope */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    border-style: solid;
    box-sizing: border-box;
    border-width: 80px 100px 70px 100px;
    border-color: #3760C9 #96DDFC #96DDFC #36BBF7;
    animation: envFloating 1s ease-in infinite alternate;
    position: relative;
    width: 150px; /* Ajouté pour une meilleure structure */
    height: 100px;
}

.loader:after {
    content: "";
    position: absolute;
    right: 62px;
    top: -40px;
    height: 70px;
    width: 50px;
    background-image:
        linear-gradient(#fff 45px, transparent 0),
        linear-gradient(#fff 45px, transparent 0),
        linear-gradient(#fff 45px, transparent 0);
    background-repeat: no-repeat;
    background-size: 30px 4px;
    background-position: 0px 11px, 8px 35px, 0px 60px;
    animation: envDropping 0.75s linear infinite;
}

@keyframes envFloating {
    0% { transform: translate(-2px, -5px); }
    100% { transform: translate(0, 5px); }
}

@keyframes envDropping {
    0% {
        background-position: 100px 11px, 115px 35px, 105px 60px;
        opacity: 1;
    }
    50% {
        background-position: 0px 11px, 20px 35px, 5px 60px;
    }
    60% {
        background-position: -30px 11px, 0px 35px, -10px 60px;
    }
    75%, 100% {
        background-position: -30px 11px, -30px 35px, -30px 60px;
        opacity: 0;
    }
}

/* User input */
#user-input {
    display: flex;
    align-items: center; /* Aligne verticalement les éléments au centre */
    gap: 10px; /* Espacement entre les éléments */
}

#user-name {
    flex-grow: 1; /* Prend toute la largeur disponible */
    padding: 8px;
    font-size: 16px;
    border-radius: 25px;
    width: 125px;
    height: 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%; /* S'assure que l'input prend toute la largeur disponible */
    padding: 8px;
    text-align: center; /* Centre horizontalement le texte */
    line-height: 20px; /* Ajuste la hauteur de ligne*/
}
#user-name::placeholder {
    text-align: center; /* Centre le texte du placeholder horizontalement */
}

button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: none;
    background: linear-gradient(to right, 
    #213A57, 
    #0B6477, 
    #14919B, 
    #0AD1C8, 
    #45DFB1, 
    #80ED99);
    color: white;
    cursor: pointer;
}

button .svg-wrapper-1 {
    margin-right: 8px; /* Espacement entre l'icône et le texte */
}

button svg {
    fill: white;
}
/* From Uiverse.io by eirikvold */ 
button {
    margin: 10px;
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }
  
  button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  
  button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  button:hover svg {
    transform: rotate(45deg);
  }
  
  

/* ############################ Loader CUbes */
/* From Uiverse.io by Nawsome */  /*+++++++++++++ page2 */
 

.cube-loader-container {
  display: none; /* Masqué au départ */
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}


.cube-loader {
  position: relative;
  /* u can choose any size */
  width: 75px;
  height: 75px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-loader .cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
        left: 0; */
  transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
        left: 0; */
  /* width 75px / 2 = 37.5px */
  transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
  background: linear-gradient(
    to bottom,
    hsl(182, 100%, 73%) 0%,
    hsl(177, 100%, 71%) 2%,
    hsl(176.89, 99.07%, 58.04%) 5.5%,
    hsl(177.27, 21.71%, 32.06%) 80%,
    hsl(60, 88%, 75%) 85%,
    hsl(60, 36%, 55%) 100%
  );
}

.cube-top {
  position: absolute;
  width: 75px;
  height: 75px;
  background: hsl(182, 100%, 73%);
  /* width 75px / 2 = 37.5px */
  transform: rotateX(90deg) translateZ(37.5px);
  transform-style: preserve-3d;
}
rect {
  fill: white;
}

.cube-top::before {
  content: "";
  position: absolute;
  /* u can choose any size */
  width: 75px;
  height: 75px;
  background: hsl(177, 43%, 39%) 19.6%;
  transform: translateZ(-90px);
  filter: blur(20px);
}

.cube-loader-container {
  filter: drop-shadow(0px 0px 0.03rem rgb(0, 0, 0))
    drop-shadow(0px 0px 0.02rem rgb(0, 0, 0));
}



 /* #####################   ##############    ############# CSS PAGE 2  */

 .page2{
  
  background: linear-gradient(to right, 
                #213A57, 
                #0B6477, 
                #14919B, 
                #0AD1C8, 
                #45DFB1, 
                #80ED99);
  animation: gradientShift 10s ease-in-out infinite;
 }
 @keyframes gradientShift {
  0% {
      background-position: 0% 50%;
  }
  25% {
      background-position: 50% 0%;
  }
  50% {
      background-position: 100% 50%;
  }
  75% {
      background-position: 50% 100%;
  }
  100% {
      background-position: 0% 50%;
  }
}


  .container-page2 {
    display: flexbox;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
 
 .text {
  display: inline-block;
  margin-left: 300px;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-family: "Dancing Script", cursive;
  display: inline-block;  /* Utiliser inline-block pour appliquer une bordure au texte directement */
  color: white;
  
  padding: 20px;
  border-radius: 10px;
  
  
}


.container-page2 .Text-malagasy{
  color:white;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 50px;
  font-size: 35px;
  font-family: 'Poppins', cursive;
  font-size: 1.3em;
  font-weight: 400;
  font-style: normal;
}









/* From Uiverse.io by ilkhoeri */ 
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

 .container-page2 .text {
  display: flex;
  margin-left: 300px;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-family: "Dancing Script", cursive;
  display: inline-block;  /* Utiliser inline-block pour appliquer une bordure au texte directement */
  color: white;
  padding: 20px;
  border-radius: 10px;
  
  
}


.container-page2 .Text-malagasy {
  color: white;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 50px;
  font-size: 1.3em;
  font-family: 'Poppins', cursive;
  font-weight: 400;
  font-style: normal;
}

/* Pour les tablettes */
@media screen and (max-width: 768px) {
  .container-page2 .Text-malagasy {
    margin-left: 50px;
    margin-right: 20px;
    font-size: 1.1em;
    margin-top: 40px;
  }
}

/* Pour les mobiles */
@media screen and (max-width: 480px) {
  .container-page2 .Text-malagasy {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 1em;
    margin-top: 30px;
    text-align: center; /* Centrer le texte pour petits écrans */
  }
}








/* From Uiverse.io by ilkhoeri */ 
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.inner {
  --w: 100px;
  --h: 150px;
  --translateZ: calc((var(--w) + var(--h)) + 0px);
  --rotateX: -15deg;
  --perspective: 1000px;
  position: absolute;
  width: var(--w);
  height: var(--h);
  top: 25%;
  left: calc(50% - (var(--w) / 2) - 2.5px);
  z-index: 2;
  transform-style: preserve-3d;
  transform: perspective(var(--perspective));
  animation: rotating 20s linear infinite; /* */
}
@keyframes rotating {
  from {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX))
      rotateY(0);
  }
  to {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX))
      rotateY(1turn);
  }
}

.card {
  position: absolute;
  border: 2px solid rgba(var(--color-card));
  border-radius: 12px;
  overflow: hidden;
  inset: 0;
  transform: rotateY(calc((360deg / var(--quantity)) * var(--index)))
    translateZ(var(--translateZ));
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #0000
    radial-gradient(
      circle,
      rgba(var(--color-card), 0.2) 0%,
      rgba(var(--color-card), 0.6) 80%,
      rgba(var(--color-card), 0.9) 100%
    );
}



/*++++++++++++++++++++++++++++++++++++++++Arbre de Noel */
.christmas-container{
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.christmas-tree {
  position: relative;
  top:100px;
  cursor: pointer;
}

.tree {
  position: absolute;
  width: 20px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 55px solid #823723;
  height:0;
  animation: drop 1s linear;
}

.tree:before {
  content:"";
  position: absolute;
  background-color: #823723;
  border-radius: 50%;
  width: 30px;
  height:10px;
  top:50px;
  left:-5px;
}

.tree:after {
  content:"";
  position: absolute;
  border-right: 75px solid transparent;
  border-left: 75px solid transparent;
  border-bottom: 200px solid #107261;
  width:0;
  height:0;
  top:-180px;
  left:-65px;
}

.tree-details {
  position: absolute;
  width: 150px;
  height: 10px;
  background-color: #107261;
  border-radius: 50%;
  top:15px;
  left:-65px;
  z-index:1;
}

.tree-details:before {
  content:"";
  position: absolute;
  background-color: #0a897c;
  border-radius:50%;
  width: 5px;
  height: 5px;
  top:-10px;
  left:20px;
  box-shadow: 50px -50px #0a897c, 30px -70px #0a897c, 40px -130px #0a897c, 70px -5px #0a897c, 85px -75px #0a897c;
}

.lights {
  position: absolute;
  opacity:0;
  animation: light 2s linear infinite, drop 1s linear .5s forwards;
}

@keyframes light {
  0% {filter: drop-shadow(0 0 2px #fefae0) brightness(1);}
  50% {filter: drop-shadow(0 0 5px #fefae0) brightness(1.35);}
  100% {filter: drop-shadow(0 0 2px #fefae0) brightness(1);}
}

.row-one {
  position: absolute;
  background-color: #e9d8a6;
  border-radius:50%;
  width:10px;
  height:10px;
  top: -120px;
  left: -15px;
  box-shadow: 10px 10px #e9d8a6, 25px 15px #e9d8a6, 40px 18px #e9d8a6, 54px 15px #e9d8a6;
}

.row-two {
  position: absolute;
  background-color: #e9d8a6;
  border-radius:50%;
  width:10px;
  height:10px;
  left:-42px;
  top:-45px;
  box-shadow: 10px 10px #e9d8a6, 25px 17px #e9d8a6, 40px 24px #e9d8a6, 55px 28px #e9d8a6, 70px 30px #e9d8a6, 85px 29px #e9d8a6, 100px 25px #e9d8a6, 112px 20px #e9d8a6;
}

.balls {
  position: absolute;
  background-color: #f34653;
  width:15px;
  height: 15px;
  border-radius:50%;
  z-index:2;
  opacity:0;
  box-shadow: -20px -55px #f34653, 25px -70px #f34653;
  animation: drop 1s linear 1s forwards;
}

.balls:before {
  content:"";
  position: absolute;
  background-color: #f34653;
  width:13px;
  height: 13px;
  border-radius:50%;
  left:-40px;
  top:-10px;
  box-shadow: 100px 10px #f34653, 25px -80px #f34653, 60px -120px #f34653;
}

.balls:after {
  content:"";
  position: absolute;
  background-color: #94d2bd;
  width:10px;
  height: 10px;
  border-radius:50%;
  top:-40px;
  left:40px;
  box-shadow: -35px -35px #94d2bd, -35px -105px #94d2bd, -60px 45px #94d2bd;
}

.star {
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 25px solid transparent;
  border-bottom: 17.5px solid #f9c819;
  border-left: 25px solid transparent;
  transform: rotate(-35deg);
  top:-190px;
  left:-9px;
  opacity:0;
  animation: dropStar 1s linear 1.5s forwards;
    }

.star:before {
      border-bottom: 20px solid #f9c819;
      border-left: 7.5px solid transparent;
      border-right: 7.5px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -12.5px;
      left: -17.5px;
      display: block;
      content: '';
      transform: rotate(-35deg);
    }

.star:after {
      position: absolute;
      display: block;
      top: 0.75px;
      left: -26.25px;
      width: 0px;
      height: 0px;
      border-right: 25px solid transparent;
      border-bottom: 17.5px solid #f9c819;
      border-left: 25px solid transparent;
      transform: rotate(-70deg);
      content: '';
    }
   
    @keyframes drop {
  0% {transform: translateY(-470px) scaleY(0.9); opacity: 0;}
  5% {opacity: 1;}
  50% {transform: translateY(0px) scaleY(1); opacity: 1;}
  65% {transform: translateY(-15px) scaleY(0.9); opacity: 1;}
  75% {transform: translateY(-18px) scaleY(0.9); opacity: 1;}
  100% {transform: translateY(0px) scaleY(1); opacity: 1;}
}

   @keyframes dropStar {
  0% {transform: translateY(-470px) scaleY(0.9) rotate(-35deg); opacity: 0;}
  5% {opacity: 1;}
  50% {transform: translateY(0px) scaleY(1) rotate(-35deg); opacity: 1;}
  65% {transform: translateY(-15px) scaleY(0.9) rotate(-35deg); opacity: 1;}
  75% {transform: translateY(-18px) scaleY(0.9) rotate(-35deg); opacity: 1;}
  100% {transform: translateY(0px) scaleY(1) rotate(-35deg); opacity: 1;}
  100% {transform: translateY(0px) scaleY(1) rotate(-35deg); opacity: 1;}
}

.shadow {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.7);
  width: 50px;
  height: 20px;
  z-index:-1;
  top:50px;
  left:-10px;
  animation: scale .5s linear forwards;
}

@keyframes scale {
  0% {transform: scaleX(1);}
  100% {transform: scaleX(3);}
}




  /*------######################## Texte en Allemand ############################################*/
  .text-allemand-container {
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Pacifico', cursive; /* Utilisez une police festive */
    font-size: 1.8em;
    text-align: center;
}

/* Pour les écrans de taille inférieure à 768px (mobile) */
@media (max-width: 768px) {
    .text-allemand-container {
        margin-top: 250px; /* Réduire la marge supérieure pour les petits écrans */
        font-size: 1.5em;  /* Réduire la taille de la police */
    }
}

/* Pour les écrans de taille inférieure à 480px (très petit mobile) */
@media (max-width: 480px) {
    .text-allemand-container {
        margin-top: 250px; /* Encore plus petite marge */
        font-size: 1.5em;    /* Taille de police encore réduite */
    }
}
  /*+++++++++++++++++++++++++++++++++++++++++ Carte de voeux */
  .card-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  .christmas-card {
    width:220px;
    height: 300px;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
  transform: perspective(2000px);
    transition: .3s;
}
        input#open {
    display: none;
}
.card-front, .card-inside {
    width:100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.card-front {
    transform-origin: left;
    transition: .3s;
    box-shadow: inset 0 120px #c1121f,inset 0 150px #fff, inset 0 165px #f9dcc4,inset 0 200px #fff,inset 0 240px #c1121f, inset 0 290px #333, inset 0 300px #c1121f;
}
.card-front:before, .card-front:after {
    content:"";
    position: absolute;
}
.card-front:before {
    background-color: #333;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top:150px;
    left:95px;
    box-shadow: 20px 0 #333;
}
.card-front:after {
    background-color: #fcd5ce;
    width:20px;
    height: 10px;
    border-radius:50px;
    top: 160px;
    left: 100px;
}

.santa-claus {
    position: absolute;
    width: 60px;
    height: 30px;
    border: 10px solid #ffba08;
    top: 240px;
    left:70px;
}
.santa-claus:before, .santa-claus:after {
    content:"";
    position: absolute;
}
.santa-claus:after {
    background-color: #333;
    width: 20px;
    height: 10px;
    border-radius: 0 0 50px 50px;
    top:-75px;
    left:20px;
}
.santa-claus:before {
    background-color: white;
    border-radius: 50%;
    width:130px;
    height: 40px;
    top: -70px;
    left:-35px;
}
.front {
    position: absolute;
}

.front:before, .front:after {
    content:"";
    position: absolute;
    background-color: #003e1f;
    width: 350px;
    height: 350px;
    z-index:1;
}

.front:before {
    transform: rotate(-65deg);
    left:-268px;
    top:-90px;
}
.front:after {
    transform: rotate(65deg);
    left:138px;
    top:-90px;
}

.pompon {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 50px;
    left:100px;
    z-index:10;
}

.open {
position: absolute;
width:220px;
height: 300px;
left:0;
top:0;
background-color: transparent;
z-index:6;
cursor: pointer;
}

#open:checked ~ .card-front {
transform: rotateY(-155deg);
}

.card-inside {
background-color: #f2e8cf;
z-index:-1;
}

.card-inside:before {
content:"Merry Christmas my dear friends, may you feel the love this special day! May this festive season brings lots of joy and happiness in your life. May all of your wishes and dreams come true, and may you feel this happiness all year round. Merry Christmas! Thierry";
display: flex;
position: absolute;
font-size: 15px;
text-align: center;
top:40px;
padding:15px;
line-height:150%;
}





/************************* mediaQueries ***************************/

/****** media pag1 *************/
/* Responsive Styles for small screens */
@media (max-width: 768px) {
  .salutation > h1 {
      font-size: 35px; /* Réduit la taille de la police sur les petits écrans */
  }

  .container {
      padding: 10px; /* Réduit les espaces internes */
  }

  #user-name {
      width: 100%; /* S'assure que le champ prend toute la largeur sur les petits écrans */
  }

  button {
      width: 100%; /* Le bouton prend toute la largeur sur les petits écrans */
  }
}

@media (max-width: 480px) {
  .salutation > h1 {
      font-size: 25px; /* Encore plus petit sur les très petits écrans */
  }

  .loader {
      width: 120px; /* Réduit la taille du loader */
      height: 80px;
  }

  button {
      font-size: 16px; /* Réduit la taille du texte du bouton */
  }
}

/******** Mediaquerie Page 2 **********/

/******* Joyeux NOel jusqu a tratry Krismasy ******** /

/* Ajout de la responsivité pour les petits écrans */
@media screen and (max-width: 768px) {
  .container-page2 .text {
    font-size: 50px; /* Réduire la taille du texte pour les petits écrans */
    margin-left: 0; /* Enlever la marge à gauche pour les petits écrans */
    margin-right: 0;
    padding: 10px;
  }


  
  .Text-malagasy {
    font-size: 1em; /* Ajuster la taille du texte */
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 300;
  }
}
/******************** text- de voeux*************************/

.text-chocolat h1{
  margin: 50px;
  color:#f8f9fa;
  font-size: 1.8em;
  font-family: "Dancing Script", cursive;
}

/***************** chocolate-box***************************/

.chocolat-container{
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  height: 100vh;
  margin-top: 0px;
 
  
}
.chocolate-box {
  position: relative;
  height: 300px;
  width: 300px;
  cursor: pointer;
}

.chocolate-box:before, .chocolate-box:after {
  content:"";
  position: absolute;
}

.chocolate-box:before {
  width: 160px;
  height: 160px;
  background-color: #4b301b;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  box-shadow: 10px 10px #392312;
}

.chocolate-box:after {
  width: 68px;
  height: 68px;
  background-color: #2b0900;
  top:81px;
  left: 80px;
  box-shadow: 70px 0 #2b0900, 70px 70px #2b0900, 0px 70px #2b0900;
}

.chocs {
  position: absolute;
  z-index:1;
}

.top-left {
  top:92px;
  left:90px;
}

.top-left:hover {
  transform: rotate(25deg);
}

.top-left:active {
  opacity:0;
}

.bottom-right {
  left:162px;
  top: 162px;
}

.bottom-right:hover {
  transform: rotate(25deg);
}

.bottom-right:active {
  opacity:0;
}

.top-left, .bottom-right {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #d12511;
  box-shadow: 20px 0 #d12511;
  filter: drop-shadow(2px 2px #ab1503) drop-shadow(-2px 2px #ab1503);
  transition: .2s;
}

.top-left:after, .top-left:before, .bottom-right:before, .bottom-right:after {
  content:"";
  position: absolute;
}

.top-left:before, .bottom-right:before {
  width: 30px;
  height: 30px;
  background-color: #d12511;
  transform: rotate(-45deg);
  top:10px;
  left:10px;
}

.top-left:after, .bottom-right:after {
  border-radius: 50%;
  background-color: rgba(255,255,255,.3);
  width:10px;
  height: 10px;
  top:5px;
  left:35px;
}

.top-right {
  position: absolute;
  border-radius: 50%;
  background-color: #fee8c0;
  width:45px;
  height: 45px;
  top:92px;
  left: 162px;
  filter: drop-shadow(2px 2px #ceb587) drop-shadow(-2px 2px #ceb587);
  overflow: hidden;
  transition: .2s;
}

.top-right:before, .top-right:after {
  content:"";
  position: absolute;
  background-color: #93522b;
  width:100px;
  height: 3px;
  left:-5px;
}

.top-right:before {
  top:15px;
  transform: rotate(-35deg);
  box-shadow: 0 -15px #93522b;
}

.top-right:after {
  top:0;
  transform: rotate(-15deg);
  box-shadow: 0 17px #93522b, 0 30px #93522b;
}

.bottom-left:hover {
  transform: rotate(25deg);
}

.bottom-left:active {
  opacity:0;
}

.top-right:hover {
  transform: rotate(25deg);
}

.top-right:active {
  opacity:0;
}

.bottom-left {
  position: absolute;
  border-radius: 50%;
  background-color: #503520;
  width:45px;
  height: 45px;
  top:162px;
  left: 92px;
  filter: drop-shadow(2px 2px #342010) drop-shadow(-2px 2px #342010);
  overflow: hidden;
  transition: .2s;
}

.bottom-left:before, .bottom-left:after {
  content:"";
  position: absolute;
  background-color: #fde7c7;
  width:100px;
  height: 3px;
  left:-5px;
}

.bottom-left:before {
  top:15px;
  transform: rotate(-35deg);
  box-shadow: 0 -15px #fde7c7;
}

.bottom-left:after {
  top:0;
  transform: rotate(-15deg);
  box-shadow: 0 17px #fde7c7, 0 30px #fde7c7;
}

.box-bottom {
  position: absolute;
  background-color: #392312;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  left:222px;
  top:73px;
  z-index:-1;
  box-shadow: 0px 211px #392312;
}

.cover {
  position: absolute;
  background-color: #cf2611;
  width:150px;
  height: 150px;
  border: 5px solid #ae1605;
  z-index:2;
  top:70px;
  left:70px;
  transform-origin: top;
  transition: .2s;
  overflow: hidden;
}

.chocolate-box:hover .cover {
  transform: rotateX(170deg);
  box-shadow: 5px -5px 20px rgba(0,0,0,.5);
}

.chocolate-box:hover .cover:before {
  display: none;
}

.cover:before {
  position: absolute;
  content:"Hover Me";
  color: #ffead2;
  font-family: "Brush Script MT", cursive;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 35px;
  transform: translate(-50%,-50%);
  left:50%;
  top:50%;
  text-align: center;
  border: 2px double;
}

.cover:after {
  position: absolute;
  content:"";
  background-color: #ffead2;
  height:10px;
  width: 100px;
  transform: rotate(-45deg);
  left:-20px;
  box-shadow: -5px 165px #ffead2;
}

#white, #milk, #truffle, #truffle2 {
  position: absolute;
  width: 100%;
  display: none;
  color: #ffead2;
  font-family: "Brush Script MT", cursive;
  font-size: 25px;
  transition: .1;
}

#white {
  top:100px;
  left: 250px;
}

#milk {
  top:170px;
  left:-70px;
}

#truffle {
  left: 250px;
  top: 170px;
}

#truffle2 {
  left: -70px;
  top: 100px;
}


/********* MY PICTURES *******/
.mypictures-container{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.mypictures{
  
  width: 150px;
  height: 150px;
  border-radius: 50%;
  
}
#moi{
  font-family: "Great Vibes", cursive;
  color: white;
  font-size: 50px;
}
